#us-map,
#header,
#bar-chart {
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: #007bff;
}

.states:hover {
    fill: #7084E6;
    fill-opacity: 12%;
    stroke-width: 3px;
    stroke: #7084E6;
}

.sliderContainer {}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #007bff;
    cursor: pointer;
}

.points:hover {
  stroke: black;
  stroke-width: 1px;
}


.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
